@using ASF.UI.WbSite.Constants.ErrorController
@using ASF.UI.WbSite.Constants.HomeController
<style>
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: 150px;
}
</style>


<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Home";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "La meta descripción es una etiqueta importante para el SEO, y no porque sirva de ayuda en los rankings. Lo cierto es que no afecta para nada a la posición de tus páginas de los resultados del buscador....";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Victor Hugo Contreras";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@VContrerasAR");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<header class="jumbotron">
    <h1>Leather Goods</h1>
    <p class="lead">Conseguí las mejores carteras nacionales e importadas, bolsos playeros, billeteras, sobres, mochilas y muchos productos mas en nuestra pagina web y en nuestros locales a la calle ubicados en distitas zonas del pais. Formá parte de Leather Goods</p>
    <p>@Html.ActionLink("Lista Productos", "ProductList", "Product", new { Area = "Products" }, null)</p>
</header>
<div class="row">
    <h2>
        Productos Destacados
    </h2>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img class="img-src" src="~/Uploads/BilleteraT.jpg" alt="..." height="100">
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 price">
                                    <h3 style="margin:5px auto;"><label>$500</label></h3>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <a href="/CartItems/CartItem/Create/50" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito</a>
                                </div>
                            </div>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img class="img-src" src="~/Uploads/zapato1.jpg" alt="..." height="100">
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 price">
                                    <h3 style="margin:5px auto;"><label>$850</label></h3>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <a href="/CartItems/CartItem/Create/20" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito</a>
                                </div>
                            </div>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img class="img-src" src="~/Uploads/agenda1.jpg" alt="..." height="100">
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 price">
                                    <h3 style="margin:5px auto;"><label>$400</label></h3>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <a href="/CartItems/CartItem/Create/11" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito</a>
                                </div>
                            </div>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img class="img-src" src="~/Uploads/cinto1.jpg" alt="..." height="100">
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 price">
                                    <h3 style="margin:5px auto;"><label>$100</label></h3>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <a href="/CartItems/CartItem/Create/1" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span>Agregar al carrito</a>
                                </div>
                            </div>
                            <p> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="fb-like" data-href="https://www.facebook.com/fronterasbanda/" data-width="300" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  